<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <ion-icon name="search-outline"></ion-icon>
    </ion-label>
    <ion-input 
      (ionChange)="refresh()"
      placeholder="callsign"
      clear-input="true"
      autocapitalize="characters"
      [(ngModel)]="search">
    </ion-input>
  </ion-item>
  <cdk-virtual-scroll-viewport itemSize="100" minBufferPx="900" maxBufferPx="1350">
  <ion-list>
    <ion-item-sliding *cdkVirtualFor="let station of stations">
      <ion-item>
        {{ station.callsign }}&nbsp;
        <ion-text color="medium">{{ station.name }}</ion-text>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="editStation(station, $event)">
          <ion-icon name="open"></ion-icon>&nbsp;Edit
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(station, $event)">
          <ion-icon name="trash"></ion-icon>&nbsp;Delete
        </ion-item-option>
      </ion-item-options>
   </ion-item-sliding>
  </ion-list> 
  </cdk-virtual-scroll-viewport>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="newCall()" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="uploadList()" >
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="downloadList()" >
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
